---
version: 2
interactions:
    - id: 0
      request:
        host: api.linear.app
        body: '{"query":"\n\t\tmutation ProjectCreate($input: ProjectCreateInput!) {\n\t\t\tprojectCreate(input: $input) {\n\t\t\t\tsuccess\n\t\t\t\tproject {\n\t\t\t\t\tid\n\t\t\t\t\tname\n\t\t\t\t\tdescription\n\t\t\t\t\tslugId\n\t\t\t\t\tstate\n\t\t\t\t\turl\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t","variables":{"input":{"name":"Test Project 2","teamIds":["234c5451-a839-4c8f-98d9-da00973f1060"],"description":"Test Description","leadId":"cc24eee4-9edc-4bfe-b91b-fedde125ba85","startDate":"2024-01-01","targetDate":"2024-12-31"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.linear.app/graphql
        method: POST
      response:
        body: |
            {"data":{"projectCreate":{"success":true,"project":{"id":"5ce3e62b-766e-44d9-b7a4-e335492bfd1e","name":"Test Project 2","description":"Test Description","slugId":"b73665fc5cc5","state":"backlog","url":"https://linear.app/linear-mcp-go-test/project/test-project-2-b73665fc5cc5"}}}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"119-Cuk8W8/7UhfXhWx3IaWopPfEYBU"
        status: 200 OK
        code: 200
        duration: 0s
