---
version: 2
interactions:
    - id: 0
      request:
        host: api.linear.app
        body: '{"query":"\n\t\tmutation ProjectCreate($input: ProjectCreateInput!) {\n\t\t\tprojectCreate(input: $input) {\n\t\t\t\tsuccess\n\t\t\t\tproject {\n\t\t\t\t\tid\n\t\t\t\t\tname\n\t\t\t\t\tdescription\n\t\t\t\t\tslugId\n\t\t\t\t\tstate\n\t\t\t\t\turl\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t","variables":{"input":{"name":"Test Project 3","teamIds":["invalid-team-id"]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.linear.app/graphql
        method: POST
      response:
        body: |
            {"errors":[{"message":"Argument Validation Error","path":["projectCreate"],"locations":[{"line":3,"column":4}],"extensions":{"code":"INVALID_INPUT","validationErrors":[{"target":{"name":"Test Project 3","teamIds":["invalid-team-id"]},"value":["invalid-team-id"],"property":"teamIds","children":[],"constraints":{"isUuid":"each value in teamIds must be a UUID"}}],"type":"invalid input","userError":true,"userPresentableMessage":"each value in teamIds must be a UUID."}}],"data":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1e4-JRWXeyaRzkdssN5PwkmdFPPwZ6Y"
        status: 200 OK
        code: 200
        duration: 0s
