---
version: 2
interactions:
    - id: 0
      request:
        host: api.linear.app
        body: '{"query":"\n\t\tmutation InitiativeCreate($input: InitiativeCreateInput!) {\n\t\t\tinitiativeCreate(input: $input) {\n\t\t\t\tsuccess\n\t\t\t\tinitiative {\n\t\t\t\t\tid\n\t\t\t\t\tname\n\t\t\t\t\tdescription\n\t\t\t\t\turl\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t","variables":{"input":{"name":"Created Test Initiative"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.linear.app/graphql
        method: POST
      response:
        body: |
            {"data":{"initiativeCreate":{"success":true,"initiative":{"id":"3bb752a7-897e-4240-9306-01e48872fab3","name":"Created Test Initiative","description":null,"url":"https://linear.app/linear-mcp-go-test/initiative/created-test-initiative-7ed59af889f6"}}}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fc-gsDkifP3AXu0S0n8HWLEunvFm3g"
        status: 200 OK
        code: 200
        duration: 0s
