---
version: 2
interactions:
    - id: 0
      request:
        host: api.linear.app
        body: '{"query":"\n\t\tquery ProjectMilestone($id: String!) {\n\t\t\tprojectMilestone(id: $id) {\n\t\t\t\tid\n\t\t\t\tname\n\t\t\t\tdescription\n\t\t\t\ttargetDate\n\t\t\t\tproject {\n\t\t\t\t\tid\n\t\t\t\t\tname\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t","variables":{"id":"c86acc00-3035-4a67-82f2-2a5bf6453e92"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.linear.app/graphql
        method: POST
      response:
        body: |
            {"data":{"projectMilestone":{"id":"c86acc00-3035-4a67-82f2-2a5bf6453e92","name":"Updated Milestone Name","description":"Updated Description","targetDate":"2025-01-01","project":{"id":"bfa49864-16c9-44db-994e-a11ba2b386f1","name":"Updated Project Name 2"}}}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"102-BS+utz/wRqBQhmWIePACw/zkABE"
        status: 200 OK
        code: 200
        duration: 0s
