---
version: 2
interactions:
    - id: 0
      request:
        host: api.linear.app
        body: '{"query":"\n\t\tquery GetInitiative($id: String!) {\n\t\t\tinitiative(id: $id) {\n\t\t\t\tid\n\t\t\t\tname\n\t\t\t\tdescription\n\t\t\t\turl\n\t\t\t}\n\t\t}\n\t","variables":{"id":"c6a7dd0c-cbe2-4101-906d-ddd97acb2241"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.linear.app/graphql
        method: POST
      response:
        body: |
            {"data":{"initiative":{"id":"c6a7dd0c-cbe2-4101-906d-ddd97acb2241","name":"Created Test Initiative 2","description":"Test Description","url":"https://linear.app/linear-mcp-go-test/initiative/created-test-initiative-2-e209008074dc"}}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"ea-uo1CNA8fgECA7BrV1BpztW43pw4"
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: api.linear.app
        body: '{"query":"\n\t\tmutation InitiativeUpdate($id: String!, $input: InitiativeUpdateInput!) {\n\t\t\tinitiativeUpdate(id: $id, input: $input) {\n\t\t\t\tsuccess\n\t\t\t\tinitiative {\n\t\t\t\t\tid\n\t\t\t\t\tname\n\t\t\t\t\tdescription\n\t\t\t\t\turl\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t","variables":{"id":"c6a7dd0c-cbe2-4101-906d-ddd97acb2241","input":{"name":"Updated Initiative Name","description":"Updated Description"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.linear.app/graphql
        method: POST
      response:
        body: |
            {"data":{"initiativeUpdate":{"success":true,"initiative":{"id":"c6a7dd0c-cbe2-4101-906d-ddd97acb2241","name":"Updated Initiative Name","description":"Updated Description","url":"https://linear.app/linear-mcp-go-test/initiative/updated-initiative-name-e209008074dc"}}}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"10d-JARpP5QUsJRs1w/2NBEsL4A+GRY"
        status: 200 OK
        code: 200
        duration: 0s
